/*  -- Body -- */

body{
    background-color: rgb(196, 149, 88);
    font-size: large;
}

#index-Body{
    text-align: center;
}

#about-Body{
    text-align: center;
}

/* -- Header -- */

header{
    background-color: rgb(56, 1, 1);
    color: aqua;
}


/* -- Nav -- */

.navbar ul{
    list-style-type: none;
    background-color: rgb(56, 1, 1);
    padding: 0px;
    margin: 0px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(26, 26, 26);
    color: aqua;
}

/* -- Main Section -- */

#Avatar{
    height: 300px;
}


/* -- Footer -- */

footer{
    text-align: center;
    color: aqua;
    background-color: rgb(56, 1, 1);
}